<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>主题管理</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/iconfont/iconfont.css}"/>
		<link rel="stylesheet" th:href="@{/css/app.css}"/>
	</head>
	<body>
		<div class="z-content">
			<div class="z-card">
                <div class="z-card-body z-card-body-tight">
					<button id="uploadTheme" class="btn btn-outline-primary mb-15">上传主题</button>
					<div id="themes" class="themes-content">
						<div th:each="theme:${themes}" class="theme-item">
							<div class="theme-box">
								<div class="theme-title">[[${theme.name}]]</div>
								<div class="theme-content">
									<img th:src="${theme.img}" />
								</div>
								<ul class="theme-footer">
									<li>
										<a th:class="${curThemeId==theme.id?'theme-use theme-checked':'theme-use'}" th:theme-id="${theme.id}">
											<i th:class="${curThemeId==theme.id?'ri-check-line':'ri-close-line'}"></i >
											<span th:text="${curThemeId==theme.id?'已启用':'未启用'}"></span>
										</a>
									</li>
									<li>
										<a th:class="${theme.setFlag==1?'theme-set':'theme-set disabled'}" th:theme-id="${theme.id}"><i class="ri-settings-3-line"></i>设置</a>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="ri-more-fill"></i>更多</a>
										<ul class="dropdown-menu">
											<li><a class="theme-edit" th:theme-id="${theme.id}"><i class="ri-pencil-line"></i>编辑模板</a></li>
											<li><a class="theme-update" th:theme-id="${theme.id}"><i class="ri-upload-2-line"></i>更新模板</a></li>
											<li><a class="theme-delete" th:theme-id="${theme.id}"><i class="ri-close-line"></i>删除模板</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="theme-modal" class="display-none">
			<form class="form-horizontal" id="themeForm">
			</form>
		</div>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/app.js}"></script>
        <script>
            var popId;
            $(function () {
                App.initUploader({
                    pick: '#uploadTheme',
                    url:'/admin/theme/upload',
                    accept:'zip',
                    before:function(){
                        App.mask("#uploadTheme");
                    },
                    onSuccess:function(picker,data){
                        App.unmask("#uploadTheme");
                        if(data.status===200){
                            App.msg({content:"上传成功！",icon:1,time:2000},function () {
								window.location.reload();
                            });
                        }
                    }
                });

            	//主题启用
            	$(".theme-use").on("click",function () {
            		var $this = $(this);
            		if(!$this.hasClass("theme-checked")){
						App.postAjax("/admin/theme/use",{"themeId":$(this).attr("theme-id")},function (data) {
							if(data.status===200){
								App.msgS(data.msg);
								var $themeChecked = $(".theme-checked");
								$themeChecked.removeClass("theme-checked");
								$themeChecked.find("i").attr("class","ri-close-line");
								$themeChecked.find("span").text("未启用");
								$this.addClass("theme-checked");
								$this.find("i").attr("class","ri-check-line");
								$this.find("span").text("已启用");
							}else{
								App.msgE(data.msg);
							}
						})
					}
				});

            	//主题设置
				$(".theme-set").on("click",function () {
					var $this = $(this);
					var themeId = $(this).attr("theme-id");
					if(!$this.hasClass("disabled")){
						parent.addTabs({
							id:"theme-set-"+themeId,
							title:"主题设置-"+themeId,
							url:"theme/"+themeId+"/setting",
							close: true
						});
					}
				})

                $(".theme-edit").on("click",function () {
                    var $this = $(this);
                    var themeId = $(this).attr("theme-id");
                    parent.addTabs({
                        id:"theme-edit-"+themeId,
                        title:"主题编辑-"+themeId,
                        url:"theme/"+themeId+"/edit",
                        close: true
                    });
                })
            });

            function showPopup(type,v) {
				popId = App.popup({
					title: "主题设置",
					content: $("#theme-modal"),
					onCancel: closePopup,
					onShow: function () {
                        /*处理数据*/
                    }
				},function(e){
				    App.mask(e);
				},function(){
					closePopup(popId);
				});
			}
			
			function closePopup() {
				App.closePopup(popId,function () {
					$("#themeForm").html("");
				});
			}
        </script>

	</body>
</html>
