<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>nbclass</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/iconfont/iconfont.css}"/>
		<link rel="stylesheet" th:href="@{/css/app.css}"/>
	</head>
	<body>
		<div class="z-content">
			<div class="col-sm-3">
				<div class="z-card z-card-body">
					<h4>网站访问</h4>
					<p>[[${siteInfo.SYSTEM_PAGE_VIEW}]]</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="z-card z-card-body">
					<h4>建立天数</h4>
					<p>[[${siteInfo.SYSTEM_CREATE_TIME}]]</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="z-card z-card-body">
					<h4>文章数</h4>
					<p>[[${siteInfo.articleNum}]]</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="z-card z-card-body">
					<h4>留言数</h4>
					<p>[[${siteInfo.commentNum}]]</p>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/app.js}"></script>
	</body>
</html>
