<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>403</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="http://cdn.nbclass.com/statics/adminlte/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/theme/zblog/css/blog.css}"/>
    <script src="http://cdn.nbclass.com/statics/adminlte/libs/jquery.min.js"></script>
</head>
<body>
<div class="main-content error-content">
    <div class="error-img-content mt-160 mb-70 text-center"><img src="http://cdn.nbclass.com/img/error/500.png"></div>
    <p class="error-text">很抱歉，您没有权限访问~</p>
    <div class="error-btn-content">
        <button class="btn btn-danger" type="button">
            <a href="/">返回主页</a>
        </button>
    </div>
</div>
</body>
</html>
