<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" th:content="${@module.get('sysConfig').SITE_KWD}">
		<meta name="description" th:content="${@module.get('sysConfig').SITE_DESC}">
		<title th:text="${@module.get('sysConfig').SITE_NAME}"></title>
		<link rel="icon" th:href="${@module.get('sysConfig').SITE_ICON}">
		<link th:href="${static+'/css/bootstrap.min.css'}" rel="stylesheet"/>
		<link th:href="${static+'/iconfont/iconfont.css'}" rel="stylesheet"/>
		<link th:href="${static+'/css/github-markdown.min.css'}"rel="stylesheet" />
		<link th:href="${static+'/css/blog.css'}"rel="stylesheet" />
		<script th:src="${static+'/js/jquery.min.js'}"></script>
		<script th:src="${static+'/js/bootstrap.min.js'}"></script>
		<script th:src="${static+'/js/blog.js'}"></script>
	</head>
	<body>
		<header id="header">
			<div th:replace="theme/nbclass/fragments/navbar :: navbar"></div>
		</header>
		<div class="zb-container zb-content">
			<div class="zb-main comment">
				<div class="comment-describe">
					<h3 class="comment-describe-title">留言板</h3>
					<div>
						<p>此路是我开，此树是我栽</p>
					</div>
					<hr class="hr0">
					<div>
						<p>博客名：智博客</p>
						<p>链接：www.nbclass.com</p>
						<p>邮箱：11283036@qq.com</p>
					</div>
				</div>
				<div id="comment" class="comment-main">
					<div class="comment-title">发表评论</div>
				</div>
			</div>
			<div th:replace="theme/nbclass/fragments/sidebar :: sidebar"></div>
		</div>
		<div class="return_top"><a class=" fa fa-arrow-up"></a></div>
		<script>
			Core.initComment({
                id:"#comment",
                sid: "[[${sid}]]",
                emojiServer:  "[[${static}]]"+"/emoji/"
            });
		</script>
	</body>

</html>