<nav id ="navbar" th:fragment="navbar" class="navbar navbar-default ">
    <div class="zb-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">
								Toggle navigation
							</span>
                <span class="icon-bar">
							</span>
                <span class="icon-bar">
							</span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="logo-a" href="/">
                <img src="/img/logo1.png" alt="logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li th:class="${categoryId=='index' ? 'level-1 active' : 'level-1 '} ">
                    <a zjax="" th:href="@{/}">
                        首页
                    </a>
                </li>
                <li th:class="${categoryId=='comment' ? 'level-1 active' : 'level-1'} ">
                    <a zjax="" href="/baby/comment" >
                        留言板
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/baby/music">
                        音乐馆
                    </a>
                </li>
                <li th:if="${!@perms.isLogin()}">
                    <a  href="/login">登录</a>
                </li>
                <li class="nav-user-info" th:if="${@perms.isLogin()}">
                    <a class="user-avatar"><img src=""/></a>
                    <ul  class="dropdown-menu">
                        <li class="level-2 isAdmin"><a href="/admin">控制台</a></li>
                        <li class="level-2"><a href="/center">个人中心</a></li>
                        <li class="level-2"><a id="logout">退出登录</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i  class="fa fa-search search-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        var userInfo = Core.getCurrentUser();
        if(userInfo!=null){
            $(".user-avatar img").attr("src",userInfo.avatar!=null?userInfo.avatar:"/img/user-default.png");
            if(userInfo.isAdmin!==1){
                $(".isAdmin").remove();
            }
        }
    </script>
</nav>