<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbclass.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="com.nbclass.model.BlogArticleTag" >
        <result column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="tag_id" property="tagId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        article_id,
        tag_id,
        status,
        create_time,
        update_time
    </sql>

    <delete id="deleteByArticleId">
        delete from blog_article_tag
        where article_id=#{articleId}
    </delete>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
        insert into blog_article_tag
        (article_id,tag_id,status,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.articleId},
            #{item.tagId},
            #{item.status},
            now()
            )
        </foreach>
    </insert>

    <delete id="deleteBatchByArticleIds" parameterType="map">
        delete from
        blog_article_tag
        where
        article_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteBatchByTagIds" parameterType="map">
        delete from
        blog_article_tag
        where
        tag_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectArticleIdsByTagIds" resultType="integer">
        select distinct article_id
        from blog_article_tag
        where
        tag_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>