<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.nbclass.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.nbclass.model.BlogCategory" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias_name" property="aliasName" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="template" property="template" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="open" property="open" />
        <association property="parent" javaType="com.nbclass.model.BlogCategory">
            <result column="p_id" property="id"/>
            <result column="p_pid" property="pid"/>
            <result column="p_name" property="name"/>
            <result column="p_alias_name" property="aliasName"/>
            <result column="p_template" property="template" />
            <result column="p_icon" property="icon" />
            <result column="p_description" property="description"/>
            <result column="p_status" property="status"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        `name`,
        alias_name,
        description,
        `type`,
        pid,
        sort,
        template,
        status,
        create_time,
        update_time
    </sql>


    <select id="selectByType" resultMap="BaseResultMap" parameterType="int">
        SELECT t.*,
        p.id AS p_id,
        p.`pid` AS p_pid,
        p.`name` AS p_name,
        p.alias_name as p_alias_name,
        p.template as p_template,
        p.icon as p_icon,
        p.description AS p_description,
        p.`status` AS p_status
        FROM
        blog_category t
        LEFT JOIN blog_category p ON t.pid = p.id
        where t.status=1
        <if test="type !=null">
            AND t.type = #{type}
        </if>
        ORDER BY t.sort ASC
    </select>

    <delete id="deleteById">
        delete from blog_category
        where id=#{id}
    </delete>

</mapper>