<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbclass.mapper.ThemeMapper">

    <resultMap id="BaseResultMap" type="com.nbclass.model.BlogTheme" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="img" property="img" />
        <result column="set_flag" property="setFlag" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        description,
        img,
        set_flag,
        status,
        create_time,
        update_time
    </sql>

    <update id="updateStatusById" parameterType="int">
        UPDATE blog_theme SET status=#{status} WHERE id=#{id}
    </update>

    <delete id="deleteBatch" parameterType="map">
        DELETE FROM
        blog_theme
        where
        id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>