<th:block th:fragment="menu(menus)">
    <li th:each="menu:${menus}"  th:class="${#lists.isEmpty(menu.children)?'':'dropdown'}">
        <a  th:if="${not #lists.isEmpty(menu.children)}" href="#" class="dropdown-toggle" aria-expanded="false">
            <span th:if="${menu.icon!=''}" class="nav-icon"><i th:class="${menu.icon}"></i></span>
            <span th:text="${menu.name}"></span>
            <b class="caret"></b>
        </a>
        <a  th:if="${#lists.isEmpty(menu.children)}" th:href="${'/' + (menu.aliasName=='/'?'':menu.aliasName)}">
            <span th:if="${menu.icon!=''}" class="nav-icon"><i th:class="${menu.icon}"></i></span>
            <span th:text="${menu.name}"></span>
        </a>
        <ul class="dropdown-menu" th:if="${not #lists.isEmpty(menu.children)}">
            <li th:each="child:${menu.children}" th:class="${#lists.isEmpty(child.children)?'':'dropdown'}">
                <a th:if="${not #lists.isEmpty(child.children)}" href="#" class="dropdown-toggle" aria-expanded="false">
                    <span th:if="${child.icon!=''}" class="nav-icon"><i th:class="${child.icon}"></i></span>
                    <span th:text="${child.name}"></span>
                    <b class="caret"></b>
                </a>
                <a th:if="${#lists.isEmpty(child.children)}" th:href="${'/' + (child.aliasName=='/'?'':child.aliasName)}">
                    <span th:if="${child.icon!=''}" class="nav-icon"><i th:class="${child.icon}"></i></span>
                    <span th:text="${child.name}"></span>
                </a>
                <ul class="dropdown-menu" th:if="${not #lists.isEmpty(child.children)}">
                    <th:block th:include="this::menu(${child.children})" />
                </ul>
            </li>
        </ul>
    </li>

</th:block>